---
import '../styles/404.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CodePen - 404</title>
</head>
<body>

<div class="number">404</div>

<div class="text"><span>Ooops...</span><br>page not found</div>

  
</body>
</html>
